$background: #212026;
$sidebar_bgColor: rgb(38, 37, 43);
$accent: #008dda;
$font: "samim";
$textColor: whitesmoke;

$b-100: #eeedf1;
$b-200: #d8d8df;
$b-300: #b7b6c3;
$b-400: #8f8ea2;
$b-500: #727087;
$b-600: #5c5a6f;
$b-700: #4c4a5a;
