@use "base";

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: base.$font;
  margin: 0;
  padding: 0;
  background-color: base.$background;
  color: base.$textColor;
  display: flex;
  width: 100vw;
  height: 100vh;
}
