*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --bg-color: rgb(238, 237, 237);
  --side-bar-bgColor: #d9d9d9;
  --text-color: #363636;
  --icon-color: black;
  --input-border-color: black;
  --btn-txt-color: white;
  --img-slider-btn-txt: white;
  --hover-btn-color: white;
  --accent-color: #2542ff;
  --scrollbar-color: hsl(from var(--accent-color) h s l / 0.3);
  --order-table-txt-color: rgb(0, 0, 0);

  [data-theme="dark"] {
    --bg-color: #212026;
    --side-bar-bgColor: rgb(38, 37, 43);
    --text-color: white;
    --icon-color: white;
    --input-border-color: white;
    --hover-btn-color: white;
    --accent-color: #2542ff;
    --scrollbar-color: hsl(from var(--accent-color) h s l / 0.3);

    --order-table-txt-color: rgb(228, 228, 228);
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: background-color 200ms ease;

  svg {
    fill: var(--icon-color);
  }
}
