.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.wraper .card {
  width: 80%;
  height: 80%;
  background-color: var(--side-bar-bgColor);
  display: flex;
  overflow: hidden;
  border-radius: 20px;
}
.wraper .card .done {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.wraper .card .done button {
  outline: none;
  border: none;
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 15px;
  width: 10%;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}
.wraper .card .right_sec {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
.wraper .card .right_sec .input_group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 80%;
}
.wraper .card .right_sec .input_group .price_qty {
  width: 100%;
  position: relative;
  display: flex;
  align-self: start;
  justify-content: space-between;
}
.wraper .card .right_sec .input_group .price_qty label {
  position: absolute;
  padding: 0px 5px;
  opacity: 0.5;
}
.wraper .card .right_sec .input_group .price_qty label:nth-of-type(1) {
  top: 16%;
  right: 5%;
}
.wraper .card .right_sec .input_group .price_qty label:nth-of-type(2) {
  top: 16%;
  right: 60%;
}
.wraper .card .right_sec .input_group .price_qty input {
  width: 45%;
}
.wraper .card .right_sec .input_group .price_qty input:nth-of-type(1) {
  width: 50%;
}
.wraper .card .right_sec .input_group .price_qty input:nth-of-type(1):focus + label:nth-of-type(1), .wraper .card .right_sec .input_group .price_qty input:nth-of-type(1):valid + label:nth-of-type(1) {
  top: -25%;
  opacity: 1;
  font-size: small;
}
.wraper .card .right_sec .input_group .price_qty input:nth-of-type(2):focus + label:nth-of-type(2), .wraper .card .right_sec .input_group .price_qty input:nth-of-type(2):valid + label:nth-of-type(2) {
  top: -25%;
  opacity: 1;
  font-size: small;
}
.wraper .card .right_sec .input_group .ref_shipping {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  text-wrap: nowrap;
}
.wraper .card .right_sec .input_group .ref_shipping label:nth-of-type(1) {
  position: absolute;
  top: 20%;
}
.wraper .card .right_sec .input_group .ref_shipping input[type=text] {
  width: 50%;
}
.wraper .card .right_sec .input_group .ref_shipping input[type=text]:focus + label, .wraper .card .right_sec .input_group .ref_shipping input[type=text]:valid + label {
  opacity: 1;
  top: -20%;
  right: 5%;
  font-size: small;
}
.wraper .card .right_sec .input_group .ref_shipping .shipping {
  background-color: var(--side-bar-bgColor);
  border-radius: 10px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wraper .card .right_sec .input_group .ref_shipping .shipping label {
  position: static;
}
.wraper .card .right_sec .input_group .ref_shipping .shipping input[type=checkbox] {
  accent-color: var(--accent-color);
  width: 15px;
  height: 15px;
}
.wraper .card .right_sec .input_group .ref_shipping .shipping input[type=checkbox]:checked + label {
  opacity: 1;
}
.wraper .card .right_sec .input_group label {
  padding: 0px 5px;
  margin: 0;
  position: absolute;
  background-color: var(--side-bar-bgColor);
  pointer-events: none;
  transition: all 160ms;
  opacity: 0.5;
}
.wraper .card .right_sec .input_group label:nth-of-type(1) {
  top: 2%;
  right: 5%;
}
.wraper .card .right_sec .input_group label:nth-of-type(2) {
  top: 46%;
  right: 5%;
}
.wraper .card .right_sec .input_group input {
  padding-right: 5%;
  padding-top: 5px;
  width: 100%;
  height: 45px;
  background-color: transparent;
  border: 0.9px solid var(--input-border-color);
  border-radius: 10px;
  outline: none;
  color: var(--text-color);
  font-weight: 200;
  letter-spacing: 1.5px;
}
.wraper .card .right_sec .input_group > input:is(:focus, :valid) + label {
  top: -3%;
  opacity: 1;
}
.wraper .card .right_sec .input_group textarea {
  width: 100%;
  padding: 5%;
  padding-top: 5%;
  height: 40%;
  resize: none;
  background-color: transparent;
  border: 0.9px solid var(--input-border-color);
  border-radius: 10px;
  outline: none;
  color: var(--text-color);
  font-weight: 200;
}
.wraper .card .right_sec .input_group textarea:focus + label:last-of-type, .wraper .card .right_sec .input_group textarea:valid + label:last-of-type {
  top: 42%;
  opacity: 1;
}
.wraper .card .right_sec .input_group button {
  align-self: flex-end;
  outline: none;
  border: none;
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}
.wraper .card .right_sec .input_group button:hover {
  background-color: var(--accent-color);
}
.wraper .card .left_sec {
  width: 60%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.wraper .card .left_sec > svg:nth-of-type(1) {
  position: absolute;
  opacity: 0.1;
}
.wraper .card .left_sec input {
  display: none;
}
.wraper .card .left_sec span {
  width: 100px;
  height: 100px;
  background-color: var(--accent-color);
  display: flex;
  border-radius: 10px;
  z-index: 2;
}
.wraper .card .left_sec span:hover {
  background-color: var(--accent-color);
}
.wraper .card .left_sec span label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wraper .card .left_sec span label svg {
  position: relative;
  top: 10px;
  width: 100%;
}
.wraper .card .left_sec span label p {
  text-align: center;
}
