.wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.wraper .empty_order_msg {
  position: absolute;
  top: 50%;
  right: 50%;
}
.wraper .top_tab_wraper {
  height: 20px;
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #3d3d3d;
  border: 1px solid red;
}
.wraper .top_tab_wraper .tab_button {
  display: flex;
  align-items: flex-end;
  width: 100px;
}
.wraper .top_tab_wraper .action_button_group {
  display: flex;
  padding-right: 15px;
  background-color: rgb(38, 37, 43);
  text-wrap: nowrap;
  width: 300px;
  gap: 10px;
}
.wraper .top_tab_wraper .action_button_group span {
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 120px;
}
.wraper .top_tab_wraper .action_button_group span p:first-child {
  width: 20px;
}
.wraper .top_tab_wraper .action_button_group .btn_wraper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: auto;
}
.wraper .top_tab_wraper .action_button_group .btn_wraper span {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: small;
  width: 50px;
  height: 30px;
}
.wraper .top_tab_wraper .action_button_group .btn_wraper span:first-child:hover {
  background-color: rgba(87, 157, 87, 0.73);
}
.wraper .top_tab_wraper .action_button_group .btn_wraper span:nth-child(2):hover {
  background-color: rgba(139, 139, 139, 0.73);
}
.wraper .top_tab_wraper .action_button_group .btn_wraper span:nth-child(3):hover {
  background-color: rgb(82, 3, 3);
}
.wraper .top_tab_wraper .command_type {
  position: absolute;
  flex-direction: column;
  right: 40%;
  overflow: hidden;
  z-index: 5;
  padding: 0;
  margin: 0;
  right: 300px;
  width: 150px;
  height: 50px;
  transition: height 150ms;
}
.wraper .top_tab_wraper .command_type:hover {
  height: 100px;
}
.wraper .top_tab_wraper .command_type div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.wraper .top_tab_wraper .datePicker {
  position: relative;
}
.wraper .table_wraper {
  height: 80%;
  width: 95%;
  transition: width 300ms ease;
  overflow: scroll;
  scrollbar-width: thin;
}
.wraper .table_wraper table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.wraper .table_wraper table thead {
  padding: 0;
  margin: 0;
}
.wraper .table_wraper table thead tr {
  position: sticky;
  top: 0;
  height: 45px;
  background-color: rgba(65, 63, 77, 0.3568627451);
  backdrop-filter: blur(10px);
  text-wrap: nowrap;
}
.wraper .table_wraper table thead tr th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
  padding: 0;
  margin: 0;
  font-weight: 300;
}
.wraper .table_wraper table thead tr th input[type=checkbox] {
  margin: 0;
  height: 15px;
  accent-color: #7469b6;
  width: 15px;
}
.wraper .table_wraper table thead tr th:first-child {
  padding-right: 10px;
  width: 30px;
}
.wraper .table_wraper table thead tr th:nth-child(2) {
  padding-right: 10px;
}
.wraper .table_wraper table thead tr th:nth-child(3) {
  text-align: right;
}
.wraper .table_wraper table thead tr th:nth-child(4), .wraper .table_wraper table thead tr th:nth-child(5), .wraper .table_wraper table thead tr th:nth-child(7) {
  width: 70px;
}
.wraper .table_wraper table thead tr th:nth-child(7) {
  text-align: center;
}
.wraper .table_wraper table thead tr th:nth-child(6) {
  width: 120px;
  text-align: center;
}
.wraper .table_wraper table thead tr th:nth-child(4), .wraper .table_wraper table thead tr th:nth-child(5) {
  text-align: center;
}
.wraper .table_wraper table thead tr th:nth-child(9) {
  width: 100px;
  text-align: center;
}
.wraper .table_wraper table thead tr th:nth-child(8) {
  text-align: center;
  width: 70px;
}
.wraper .table_wraper table thead tr th:nth-child(10) {
  text-align: center;
}
.wraper .table_wraper table thead tr th:nth-child(12) {
  width: 50px;
  text-align: center;
}
.wraper .table_wraper table thead tr th:nth-child(12) button {
  all: unset;
  cursor: pointer;
}
.wraper .table_wraper table thead tr th input {
  margin: 0;
  padding: 0;
}
.wraper .table_wraper table tbody tr {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 45px;
}
.wraper .table_wraper table tbody tr:nth-child(even) {
  background-color: rgb(38, 37, 43);
}
.wraper .table_wraper table tbody tr td {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: 200;
  color: rgb(199, 199, 199);
}
.wraper .table_wraper table tbody tr td a {
  text-decoration: none;
  color: inherit;
  border: 0.5px solid white;
}
.wraper .table_wraper table tbody tr td:first-child {
  padding-right: 10px;
}
.wraper .table_wraper table tbody tr td:nth-child(3) {
  overflow: scroll;
  text-wrap: nowrap;
  font-weight: 300;
}
.wraper .table_wraper table tbody tr td:nth-child(2) {
  text-align: right;
  direction: ltr;
  padding-right: 10px;
}
.wraper .table_wraper table tbody tr td:nth-child(4), .wraper .table_wraper table tbody tr td:nth-child(5), .wraper .table_wraper table tbody tr td:nth-child(7) {
  width: 70px;
}
.wraper .table_wraper table tbody tr td:nth-child(7) {
  text-align: center;
}
.wraper .table_wraper table tbody tr td:nth-child(9) {
  width: 80px;
  text-align: center;
}
.wraper .table_wraper table tbody tr td:nth-child(10) {
  text-align: center;
}
.wraper .table_wraper table tbody tr td:nth-child(6) {
  text-align: center;
}
.wraper .table_wraper table tbody tr td:nth-child(8) {
  text-align: center;
}
.wraper .table_wraper table tbody tr td:nth-child(12) {
  width: 50px;
  text-align: center;
}
.wraper .table_wraper table tbody tr td:nth-child(4), .wraper .table_wraper table tbody tr td:nth-child(5) {
  text-align: center;
}
.wraper .table_wraper table tbody tr td input[type=text] {
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: rgb(218, 218, 218);
}
.wraper .table_wraper table tbody tr td input[type=checkbox] {
  margin: 0;
  accent-color: #7469b6;
  height: 15px;
  width: 15px;
}
.wraper .table_wraper table tbody tr td select {
  font-size: medium;
  background-color: rgb(218, 218, 218);
}
.wraper .table_wraper table tbody tr td button {
  all: unset;
  cursor: pointer;
  padding-left: 10px;
}
