.wraper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wraper .iner_wraper {
  font-family: "hellob1";
  position: relative;
  width: 40%;
  height: 60%;
  border-radius: 20px;
  background-color: rgb(38, 37, 43);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wraper .iner_wraper .head {
  display: flex;
  position: absolute;
  width: 80%;
  justify-content: space-evenly;
  top: 10px;
}
.wraper .iner_wraper .head h1 {
  font-size: 20px;
}
.wraper .iner_wraper .input_group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  height: 90%;
}
.wraper .iner_wraper .input_group .EyeIcon {
  position: absolute;
  top: 50%;
  right: 85%;
}
.wraper .iner_wraper .input_group .EyeIcon span {
  cursor: pointer;
}
.wraper .iner_wraper .input_group input {
  width: 100%;
  height: 45px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  color: white;
  padding: 8px 20px;
  font-weight: 200;
  letter-spacing: 1.5px;
}
.wraper .iner_wraper .input_group input:nth-of-type(1):valid + label:nth-of-type(1), .wraper .iner_wraper .input_group input:nth-of-type(1):focus + label:nth-of-type(1) {
  top: 23%;
  opacity: 1;
}
.wraper .iner_wraper .input_group input:nth-of-type(2):valid + label:nth-of-type(2), .wraper .iner_wraper .input_group input:nth-of-type(2):focus + label:nth-of-type(2) {
  top: 43%;
  opacity: 1;
}
.wraper .iner_wraper .input_group input:nth-of-type(3):focus + label:nth-of-type(3), .wraper .iner_wraper .input_group input:nth-of-type(3):valid + label:nth-of-type(3) {
  top: 64%;
  opacity: 1;
}
.wraper .iner_wraper .input_group label {
  background-color: rgb(38, 37, 43);
  padding: 0px 5px;
  font-size: small;
  position: absolute;
}
.wraper .iner_wraper .input_group label:nth-of-type(1) {
  top: 29%;
  right: 5%;
  transition: all 160ms;
  opacity: 0.5;
}
.wraper .iner_wraper .input_group label:nth-of-type(2) {
  top: 50%;
  right: 5%;
  transition: all 160ms;
  opacity: 0.5;
}
.wraper .iner_wraper .input_group label:nth-of-type(3) {
  top: 70%;
  right: 5%;
  transition: all 160ms;
  opacity: 0.5;
}
.wraper .iner_wraper .input_group button {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  outline: none;
  border: none;
  background-color: #7469b6;
  font-family: "hellob1";
  color: whitesmoke;
  border-radius: 10px;
  width: 6rem;
  height: 3rem;
  cursor: pointer;
}
.wraper .iner_wraper .input_group button:hover {
  background-color: #6b60a2;
}
