.wraper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  .card {
    width: 80%;
    height: 80%;
    background-color: var(--side-bar-bgColor);
    display: flex;
    overflow: hidden;
    border-radius: 20px;

    .done {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      button {
        outline: none;
        border: none;
        background-color: var(--accent-color);
        color: var(--btn-txt-color);
        padding: 15px;
        width: 10%;
        border-radius: 5px;
        font-weight: bold;
        font-size: medium;
        cursor: pointer;
      }
    }
    // ---- right section
    .right_sec {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      width: 40%;
      height: 100%;

      .input_group {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: space-between;
        width: 80%;
        height: 80%;

        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: space-between;
        width: 80%;
        height: 80%;
        .price_qty {
          width: 100%;
          position: relative;
          display: flex;
          align-self: start;
          justify-content: space-between;

          & label {
            position: absolute;
            padding: 0px 5px;
            opacity: 0.5;
            &:nth-of-type(1) {
              top: 16%;
              right: 5%;
            }
            &:nth-of-type(2) {
              top: 16%;
              right: 60%;
            }
          }

          & input {
            width: 45%;

            &:nth-of-type(1) {
              width: 50%;

              &:focus,
              &:valid {
                + label {
                  &:nth-of-type(1) {
                    top: -25%;
                    opacity: 1;
                    font-size: small;
                  }
                }
              }
            }

            &:nth-of-type(2) {
              &:focus,
              &:valid {
                + label {
                  &:nth-of-type(2) {
                    top: -25%;
                    opacity: 1;
                    font-size: small;
                  }
                }
              }
            }
          }
        }

        .ref_shipping {
          width: 100%;
          position: relative;
          display: flex;
          justify-content: space-between;
          gap: 5%;
          text-wrap: nowrap;
          label:nth-of-type(1) {
            // background-color: orange;
            position: absolute;
            top: 20%;
          }
          input[type="text"] {
            width: 50%;

            &:focus,
            &:valid {
              + label {
                opacity: 1;
                top: -20%;

                right: 5%;
                font-size: small;
              }
            }
          }

          .shipping {
            background-color: var(--side-bar-bgColor);
            border-radius: 10px;
            width: 40%;
            display: flex;
            justify-content: center;

            align-items: center;
            position: relative;
            & label {
              position: static;
            }
            & input[type="checkbox"] {
              accent-color: var(--accent-color);
              width: 15px;
              height: 15px;

              &:checked {
                + label {
                  opacity: 1;
                }
              }
            }
          }
        }

        label {
          padding: 0px 5px;
          margin: 0;
          position: absolute;
          background-color: var(--side-bar-bgColor);
          pointer-events: none;
          transition: all 160ms;
          opacity: 0.5;
          // background-color: red;

          &:nth-of-type(1) {
            top: 2%;
            right: 5%;
          }
          &:nth-of-type(2) {
            top: 46%;
            right: 5%;
          }
        }
        input {
          padding-right: 5%;
          padding-top: 5px;
          width: 100%;
          height: 45px;
          background-color: transparent;
          border: 0.9px solid var(--input-border-color);
          border-radius: 10px;
          outline: none;
          color: var(--text-color);
          font-weight: 200;
          letter-spacing: 1.5px;
        }

        & > input {
          &:is(:focus, :valid) {
            + label {
              top: -3%;

              opacity: 1;
            }
          }
        }

        textarea {
          width: 100%;
          padding: 5%;
          padding-top: 5%;
          height: 40%;
          resize: none;
          background-color: transparent;
          border: 0.9px solid var(--input-border-color);
          border-radius: 10px;
          outline: none;
          color: var(--text-color);
          font-weight: 200;

          &:focus,
          &:valid {
            + label {
              &:last-of-type {
                top: 42%;
                opacity: 1;
              }
            }
          }
        }

        button {
          align-self: flex-end;
          outline: none;
          border: none;
          background-color: var(--accent-color);
          color: var(--btn-txt-color);
          padding: 15px;
          width: 100%;
          border-radius: 5px;
          font-weight: bold;
          font-size: medium;
          cursor: pointer;
          &:hover {
            background-color: var(--accent-color);
          }
        }
      }
    }

    .left_sec {
      width: 60%;
      height: 100%;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;

      & > svg:nth-of-type(1) {
        position: absolute;
        opacity: 0.1;
      }

      input {
        display: none;
      }

      span {
        width: 100px;
        height: 100px;
        background-color: var(--accent-color);
        display: flex;

        border-radius: 10px;
        z-index: 2;
        &:hover {
          background-color: var(--accent-color);
        }

        label {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: var(--btn-txt-color);
          svg {
            fill: var(--btn-txt-color);
            position: relative;

            top: 10px;

            width: 100%;
          }
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
