.wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .iner_wraper {
    width: 95%;
    height: 80%;

    .empty_order_msg {
      position: absolute;
      top: 50%;
      right: 50%;
    }

    .top_bar_wraper {
      height: 20px;
      display: flex;
      overflow: hidden;
      width: 100%;
      height: 50px;
      background-color: var(--side-bar-bgColor);

      .right_sec {
        width: 50%;
        display: flex;

        .action_button_group {
          display: flex;

          background-color: var(--side-bar-bgColor);
          text-wrap: nowrap;
          width: 400px;
          gap: 10px;

          span {
            display: flex;
            border-radius: 5px;
            justify-content: space-around;
            align-items: center;
            width: 120px;

            p {
              &:nth-of-type(1) {
                background-color: var(--accent-color);
                color: white;
                font-weight: bold;
                padding: 5px;
                border-radius: 5px;
              }
            }
          }
          .btn_wraper {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 10px;

            margin-right: auto;
            span {
              display: flex;
              gap: 5px;
              cursor: pointer;
              justify-content: center;
              align-items: center;
              font-size: small;
              width: 50px;
              height: 30px;

              &:first-child {
                border: 0.5px solid rgba(87, 157, 87, 0.73);
                background-color: rgba(87, 157, 87, 0.2);
                &:hover {
                  background-color: rgba(87, 157, 87, 0.73);
                }
              }
              &:nth-child(2) {
                background-color: rgba(139, 139, 139, 0.2);
                border: 0.5px solid rgba(139, 139, 139, 0.73);

                &:hover {
                  background-color: rgba(139, 139, 139, 0.73);
                }
              }
              &:nth-child(3) {
                background-color: rgba(211, 137, 10, 0.2);
                border: 0.5px solid rgba(211, 137, 10, 0.73);

                &:hover {
                  background-color: rgba(226, 160, 5, 0.74);
                }
              }
              &:nth-child(4) {
                background-color: rgba(82, 3, 3, 0.318);
                border: 0.5px solid rgb(164, 4, 4);

                &:hover {
                  background-color: rgba(171, 6, 6, 0.74);
                }
              }
            }
          }
        }

        .refresh {
          display: flex;
          align-items: center;
          align-self: center;
          gap: 5px;
          margin-right: 10px;
          height: 30px;
          border-radius: 5px;
          padding: 0px 5px;
          color: var(--text-color);
          border: 0.5px solid gray;
          cursor: pointer;

          &:hover {
            background-color: rgba(128, 128, 128, 0.309);
          }
        }
      }
      .left_sec {
        display: flex;
        .date_inpt {
          position: relative;
          display: flex;
          align-items: center;
          margin-right: 10px;
          input[type="date"] {
            border-radius: 5px;
            height: 35px;
            width: 200px;
            padding-left: 10px;
            text-align: left;
            background-color: var(--side-bar-bgColor);
            border: 0.5px solid gray;
            color: var(--text-color);
            outline: none;
            &::after {
              position: absolute;
              content: "التاريخ";
              color: var(--text-color);
              right: 5%;
              top: 30%;
            }
            &::-webkit-calendar-picker-indicator {
              opacity: 0;
              display: none;
            }
          }
        }
        .pagination {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 3%;
          width: 200px;
          gap: 10px;

          button {
            height: 25px;
            width: 45px;
            text-align: center;
            outline: none;
            border: none;
            background-color: transparent;
            color: var(--text-color);
            cursor: pointer;
            border: 0.5px solid gray;
            border-radius: 5px;
            font-size: 20px;
            &:nth-of-type(2) {
              rotate: 180deg;
            }
            &:hover {
              background-color: rgba(245, 245, 245, 0.37);
            }
          }
        }
        .order_count {
          gap: 10px;
          display: flex;
          width: 200px;

          p {
            &:last-child {
              display: flex;
              align-items: center;
              font-size: 10px;
              word-wrap: none;
              text-wrap: nowrap;
            }
          }
        }
        .order_type {
          // background-color: orange;
          margin-right: 10px;
          width: 200px;
          display: flex;
          align-items: center;
          select {
            background-color: var(--side-bar-bgColor);
            color: var(--text-color);
            height: 35px;
            width: 200px;
            font-size: medium;
            border-radius: 5px;
            border: 0.5px solid gray;

            outline: none;

            option {
              text-align: center;
            }
          }
        }
      }
    }

    .table_wraper {
      height: 100%;
      width: 100%;
      transition: width 300ms ease;
      overflow-x: hidden;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-color) var(--side-bar-bgColor);

      table {
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
        // table body ---
        thead {
          padding: 0;
          margin: 0;
          tr {
            position: sticky;
            top: 0;
            height: 45px;
            background-color: #413f4d5b;
            backdrop-filter: blur(10px);
            text-wrap: nowrap;
            th {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              text-align: right;
              padding: 0;
              margin: 0;
              font-weight: 300;

              input[type="checkbox"] {
                margin: 0;
                height: 15px;
                accent-color: var(--accent-color);

                width: 15px;
              }
              &:first-child {
                padding-right: 10px;
                width: 30px;
              }
              &:nth-child(2) {
                padding-right: 10px;
                width: 100px;
              }
              &:nth-child(3) {
                text-align: right;
                width: 100px;
              }
              &:nth-child(4),
              &:nth-child(5),
              &:nth-child(7) {
                width: 70px;
              }
              &:nth-child(7) {
                text-align: center;
              }

              &:nth-child(6) {
                width: 100px;
                text-align: center;
              }

              &:nth-child(4),
              &:nth-child(5) {
                text-align: center;
                width: 70px;
              }
              &:nth-child(9) {
                width: 100px;
                text-align: center;
              }
              &:nth-child(8) {
                text-align: center;
                width: 70px;
              }
              &:nth-child(10) {
                text-align: center;
                width: 90px;
              }
              &:nth-child(11) {
                text-align: center;
                width: 80px;
              }

              &:nth-child(12) {
                width: 70px;

                button {
                  all: unset;
                  cursor: pointer;
                }
              }

              input {
                margin: 0;
                padding: 0;
              }
            }
          }
        }
        tbody {
          tr {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 45px;
            &:nth-child(even) {
              background-color: var(--side-bar-bgColor);
            }

            td {
              margin: 0;
              padding: 0;
              overflow: hidden;
              font-weight: 200;
              color: var(--order-table-txt-color);
              text-wrap: nowrap;

              &:first-child {
                padding-right: 10px;
              }

              &:nth-child(3) {
                overflow: auto;
                text-wrap: nowrap;

                scrollbar-width: none;
                font-weight: 300;
              }
              &:nth-child(2) {
                text-align: right;
                direction: ltr;
                padding-right: 10px;
              }
              &:nth-child(4),
              &:nth-child(5),
              &:nth-child(7) {
                width: 70px;
              }
              &:nth-child(7) {
                text-align: center;
              }
              &:nth-child(9) {
                width: 80px;
                text-align: center;
              }
              &:nth-child(10) {
                text-align: center;
              }
              &:nth-child(6) {
                text-align: center;
                a {
                  color: var(--order-table-txt-color);
                  text-decoration: none;
                }
              }
              &:nth-child(8) {
                text-align: center;
              }
              &:nth-child(12) {
                text-wrap: nowrap;
              }
              &:nth-child(4),
              &:nth-child(5) {
                text-align: center;
              }
              input[type="text"] {
                margin: 0;
                box-sizing: border-box;
                outline: none;
                border: none;
                background-color: rgb(218, 218, 218);
              }
              input[type="checkbox"] {
                margin: 0;
                accent-color: var(--accent-color);
                height: 15px;
                width: 15px;
              }
              select {
                font-size: medium;
                background-color: rgb(218, 218, 218);
              }
              button {
                all: unset;
                cursor: pointer;
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
