@use "../base";

.wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .empty_order_msg {
    position: absolute;
    top: 50%;
    right: 50%;
  }

  .top_tab_wraper {
    height: 20px;
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #3d3d3d;
    border: 1px solid red;
    .tab_button {
      display: flex;
      align-items: flex-end;
      width: 100px;
    }
    .action_button_group {
      display: flex;
      // align-items: center;
      // justify-content: space-evenly;
      padding-right: 15px;
      // border: 1px solid rgb(152, 152, 152);
      background-color: base.$sidebar_bgColor;
      text-wrap: nowrap;
      width: 300px;
      gap: 10px;
      span {
        display: flex;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        width: 120px;
        // border: 1px solid red;

        p {
          &:first-child {
            width: 20px;
            // background-color: orange;
          }
        }
      }
      .btn_wraper {
        display: flex;
        align-items: center;
        gap: 10px;
        // border: 1px solid red;

        margin-right: auto;
        span {
          display: flex;
          cursor: pointer;
          justify-content: center;
          align-items: center;
          font-size: small;
          width: 50px;
          height: 30px;

          &:first-child {
            &:hover {
              background-color: rgba(87, 157, 87, 0.73);
            }
          }
          &:nth-child(2) {
            &:hover {
              background-color: rgba(139, 139, 139, 0.73);
            }
          }
          &:nth-child(3) {
            &:hover {
              background-color: rgb(82, 3, 3);
            }
          }
        }
      }
    }
    .command_type {
      position: absolute;

      flex-direction: column;
      right: 40%;
      overflow: hidden;
      z-index: 5;
      padding: 0;
      margin: 0;
      right: 300px;
      width: 150px;
      height: 50px;
      // background-color: blue;
      transition: height 150ms;
      &:hover {
        height: 100px;
      }

      // background-color: red;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        // background-color: orange;
        // width: 100%;
      }
    }
    .datePicker {
      position: relative;
    }
  }

  .table_wraper {
    height: 80%;
    width: 95%;
    transition: width 300ms ease;
    overflow: scroll;
    scrollbar-width: thin;

    table {
      table-layout: fixed;
      border-collapse: collapse;
      width: 100%;
      // table body ---
      thead {
        padding: 0;
        margin: 0;
        tr {
          position: sticky;
          top: 0;
          height: 45px;
          background-color: #413f4d5b;
          backdrop-filter: blur(10px);
          text-wrap: nowrap;
          th {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: right;
            padding: 0;
            margin: 0;
            font-weight: 300;

            input[type="checkbox"] {
              margin: 0;
              height: 15px;
              accent-color: base.$accent;

              width: 15px;
            }
            &:first-child {
              padding-right: 10px;
              width: 30px;
            }
            &:nth-child(2) {
              padding-right: 10px;
            }
            &:nth-child(3) {
              text-align: right;
            }
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(7) {
              width: 70px;
            }
            &:nth-child(7) {
              text-align: center;
            }

            &:nth-child(6) {
              width: 120px;
              text-align: center;
            }

            &:nth-child(4),
            &:nth-child(5) {
              text-align: center;
            }
            &:nth-child(9) {
              width: 100px;
              text-align: center;
            }
            &:nth-child(8) {
              text-align: center;
              width: 70px;
            }
            &:nth-child(10) {
              text-align: center;
            }

            &:nth-child(12) {
              width: 50px;
              text-align: center;
              button {
                all: unset;
                cursor: pointer;
              }
            }

            input {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
      tbody {
        tr {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 45px;
          &:nth-child(even) {
            background-color: base.$sidebar_bgColor;
          }

          td {
            margin: 0;
            padding: 0;
            overflow: hidden;
            font-weight: 200;
            color: rgb(199, 199, 199);

            a {
              text-decoration: none;
              color: inherit;
              border: 0.5px solid white;
            }
            &:first-child {
              padding-right: 10px;
            }

            &:nth-child(3) {
              overflow: scroll;
              text-wrap: nowrap;
              font-weight: 300;
            }
            &:nth-child(2) {
              text-align: right;
              direction: ltr;
              padding-right: 10px;
            }
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(7) {
              width: 70px;
            }
            &:nth-child(7) {
              text-align: center;
            }
            &:nth-child(9) {
              width: 80px;
              text-align: center;
            }
            &:nth-child(10) {
              text-align: center;
            }
            &:nth-child(6) {
              text-align: center;
            }
            &:nth-child(8) {
              text-align: center;
            }
            &:nth-child(12) {
              width: 50px;

              text-align: center;
            }
            &:nth-child(4),
            &:nth-child(5) {
              text-align: center;
            }
            input[type="text"] {
              margin: 0;
              box-sizing: border-box;
              outline: none;
              border: none;
              background-color: rgb(218, 218, 218);
            }
            input[type="checkbox"] {
              margin: 0;
              accent-color: base.$accent;
              height: 15px;
              width: 15px;
            }
            select {
              font-size: medium;
              background-color: rgb(218, 218, 218);
            }
            button {
              all: unset;
              cursor: pointer;
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
}
